/* SelectMenu */
.container {
  padding: 0.5rem 0.25rem;
  border-radius: 0.5rem;
  width: 172px;
  font-size: 1rem;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.item {
  padding: 0.5rem 1.5rem;
  border-radius: 5px;
  cursor: default;
  &:hover {
    background: #fafafa;
  }
}

/* SelectButton */
.button {
  padding: 0.75rem;
  border-radius: 0.5rem;
  width: 180px;
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  border: 1px solid lightgray;
  font-size: 0.875rem;
  background: white;
  cursor: pointer;
}

.icon {
  width: 18px;
  height: 18px;
  transform: rotate(180deg);
}
